<header>
    <h1>{{title}}</h1>
    <p>{{name}} - {{studentId}}</p>
    <nav>
        <a href="/">Home</a>
        <a href="/data">All Data</a>
        <a href="/allData">Movie Table</a>
        <a href="/data/search/id/">Search by ID</a>
        <a href="/data/search/title/">Search by Title</a>
    </nav>
</header>