<h1>{{title}}</h1>
<form method="POST" action="/data/search/title/">
    <input type="text" name="movie_title" placeholder="Please Enter Movie Title">
    <input type="submit" value="Search">
</form>
