body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    background-color: #20364b;
    color: white;
    padding: 15px;
    text-align: center;
}

main {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
}

footer {
    text-align: center;
    font-size: 14px;
    background-color: #8094ac;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #dee2e6;
}
a {
    color: #ffffff;
}